*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Familjen Grotesk', sans-serif;
    background: #000;
    color: #fff;
}

/* Header stuff */
.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    text-transform: uppercase;
    align-items: center;
    margin-right: 50px;
    padding: 10px;
    z-index: 3;
}

.desktop-main-menu {
    display: flex;
    margin-right: 10px;
}

/* CSS for the hamburger menu icon */
.hamburger-menu {
    display: block;
    cursor: pointer;
    z-index: 4;
    margin-right: 20px;
  }

  .hamburger-menu div {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: transform 0.5s ease;
  }
  
  /* Add styles for the "X" icon when the menu is active */
  .hamburger-menu.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 4px);
  }
  
  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-menu.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -10px);
  }

.menu-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  margin-top: 89px;
  right: -250px; 
  width: 250px;
  height: 60%;
  background-color: black;
  transition: right 0.3s ease;
  z-index: 2; 
 
}

.menu-toggle.active {
    right: 0; 
  }

.menu-toggle ul {
    list-style: none;
    padding: 20px;
}

.menu-toggle li {
    margin-bottom: 15px;
    list-style: none;
}

.menu-toggle a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    
  }
  

.header-container ul {
    display: flex;
}

ul {
    list-style: none;
    width: 100%;
    margin-right: 50px;
}

a {
    text-decoration: none;
    color: #fff;
}

.header-container a:hover {
    color: red;
}

.header-container ul li {
    margin-left: 15px;

}

.header-container .logo img {
    width: 80px;
    height: 65px;
    
}

/*Section a */

section {
    text-transform: uppercase;
}

.section-a {
    display: flex;
    background-image: url("../img/rocket-launch.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.section-a-inner {
    margin-top: 15vh;
    margin-left: 5vw;
    color: #fff;
    width: 500px;
    height: 500px;

}

.section-a-inner div {
    margin-top: 10px;
}

.section-a-inner h4 {
    font-size: 2em;
    animation: fadeInUp 0.5s ease-in-out 0.4s;
    animation-fill-mode: both;
}

.section-a-inner h2 {
    font-size: 4em;
    animation: fadeInUp 0.5s ease-in-out 0.4s;
    animation-fill-mode: both;
}

.btn {
    position: relative;
    display: inline-block;
    z-index: 2;
    min-width: 130px;
    text-align: center;
    padding: 15px 50px;
    margin-top: 10px;
    overflow: hidden;
    border: 2px solid #fff;
    font-size: 3em;
    padding: 10px;
    animation: fadeInUp 0.5s ease-in-out 0.4s;
    animation-fill-mode: both;
}

.btn:hover span {
    color: black;
}

.btn .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #000;
    z-index: -1;
    transform: translateY(100%);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover .hover {
    transform: translateY(-13.5%)
}


/*Info grids*/

main {
    background-image: url(../img/1745055.jpg);
    background-size: 500px;
    background-repeat: repeat;
}

.info-section {
    display: flex;
    align-items: center;
}

.info-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 10% 25% 25%; 
    margin: 50px 50px 0px 50px;
}

.info-container img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: block;
}

.info-container p {
    font-size: clamp(8px, 2vw, 12px);
    margin: 5px;
}

.info-1 {
    position: relative;
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    margin: 10px 10px 0px 10px;
    border: 2px solid #fff;
}

.info-2 {
    position: relative;
    grid-column: 3;
    grid-row: 1 / 3;
    margin: 10px;
    border: 2px solid #fff;

}

.info-3 {
    position: relative;
    background-color: #39719e;
    grid-column: 4;
    grid-row: 1 / 3;
    margin: 10px;
    border: 2px solid #fff;
}

.info-4 {
    position: relative;
    grid-row: 3 / 5;
    grid-column: 3 / 5;
    margin: 0 10px 10px 10px;
    margin-bottom: 20px;
    border: 2px solid #fff;
    height: 100%;
}

.inner-info-div {
    position: absolute;
    top: 80%;
    left: 0;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    font-size: clamp(6px, 10px, 12px);
}

/*More News Section */

.more-news-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.more-news-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(2, 300px);
    margin: 0px 50px 50px 50px;
}

.news-grid {
    position: relative;
    background-color: red;
    margin: 10px;
    border: 2px solid #fff;
}

.news-grid img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: block;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
}


/*-----------------------------------------------------------------------------------------------Media Queries-----------------------------------------------------------------------------------------------------------------*/

@media(max-width: 1080px)
{

    /* Header stuff */
    .header-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #000;
        text-transform: uppercase;
        align-items: center;
        margin-right: 50px;
        padding: 10px;
        z-index: 3;
    }

    .header-container ul {
        display: flex;
    }

    ul {
        
        list-style: none;
        width: 100%;
        margin-right: 50px;
    }

    ul a {
        text-decoration: none;
        color: #fff;
        display: none;
    }

    .header-container a:hover {
        color: red;
    }

    .header-container ul li {
        margin-left: 15px;

    }

    .header-container .logo img {
        width: 80px;
        height: 65px;
        
    }
    
    /*Start of sections */

    section {
        text-transform: uppercase;
        height: auto;
    }

    .info-section {
        background-image: url(../img/1745055.jpg);
        background-size: 500px;
        background-repeat: repeat;
    }
    
    .info-container {
        display: flex;
        flex-direction: column;
        margin-inline: 20px;

    }
    
    .info-container img {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
    
    .info-container p {
        font-size: clamp(8px, 2vw, 12px);
        margin: 5px;
    }
    
    .info-1 {
        position: relative;
        margin: 10px;
        border: 2px solid #fff;
        grid-row: 1;
        grid-column: 1 / 5;

    }
    
    .info-2 {
        position: relative;
        margin: 10px;
        border: 2px solid #fff;  
        grid-row: 2;
        grid-column: 1 / 5;  
    }
    
    .info-3 {
        position: relative;
        background-color: #39719e;
        margin: 10px;
        border: 2px solid #fff;
        grid-row: 3;
        grid-column: 1 / 5;
    }
    
    .info-4 {
        position: relative;
        margin: 10px;
        border: 2px solid #fff;
        grid-row: 4;
        grid-column: 1 / 5;

    }

    /*More news */
    
    .more-news-container {
        display: flex;
        flex-direction: column;
        margin-inline: 20px;
    }
    
    .news-grid {
        position: relative;
        background-color: red;
        margin: 10px;
        border: 2px solid #fff;
        max-width: 100%;
        max-height: 100%;
    }
    
    .news-grid img {
        max-width: 100%;
        height: auto;
        display: block;
    }

}

@media(min-width: 1850px) {

/*More News Section */

.more-news-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.more-news-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(2, 500px);
}

.news-grid {
    position: relative;
    background-color: red;
    margin: 10px;
    border: 2px solid #fff;
}

.news-grid img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: block;
}
}

@media(max-width: 440px) {

    .section-a-inner {
        margin-top: 15vh;
        margin-left: 5vw;
        color: #fff;
        width: 200px;
        height: 500px;
    
    }
    
    .section-a-inner div {
        margin-top: 10px;
    }
    
    .section-a-inner h4 {
        font-size: 1em;
    }
    
    .section-a-inner h2 {
        font-size: 2em;
    }
    
    .section-a-inner a {
        border: 2px solid #fff;
        font-size: 1.5em;
        padding: 10px;
    }

}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(140px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}